*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vh;
  height: 300px;
  border: 10px solid rgb(164, 214, 25);
  padding: 10px;
  justify-content: center;
  background-color: white; 
  border-radius: 20px;
}

.main h4{
  font-size: 10vh;
}

.but{
  display: flex;
  gap: 10px;  
}

.main button{
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
}

.start{
  background-color: rgb(39, 234, 39);
}
.Stop{
  background-color: red;
}
.Reset{
  background-color: aqua;
}

.don{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;  

}


